@import "tailwindcss";

.clip-path-slant {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (min-width: 1024px) {
  .clip-path-slant {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  }
}